<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Contact Information:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-icon>person</mat-icon>
      <span>{{ FullName }}</span>
    </div>
    <div>
      <mat-icon>location_on</mat-icon>
      <span>{{ Address }}</span>
    </div>
    <div>
      <mat-icon>phone</mat-icon>
      <span>{{ CellNumber }}</span>
    </div>
    <div>
      <mat-icon>email</mat-icon>
      <span>{{ Email }}</span>
    </div>
  </mat-card-content>
</mat-card>
