mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

mat-icon {
  vertical-align: middle;
  margin-right: 8px;
  color: #2d9596;
}

.title {
  color: #2d9596;
  padding-bottom: 24px;
}

div {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
