@use "@angular/material" as mat;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.learn-more-btn.mdc-button {
  .mat-mdc-button-persistent-ripple {
    background-color: #50b498;
  }
}

.cdk-overlay-container {
  .cdk-global-overlay-wrapper {
    mat-snackbar-bar-container.mat-mdc-snack-bar-container.success-snackbar {
      .cdk-overlay-pane {
        .mat-mdc-snackbar-surface {
          background-color: #50b498 !important;
        }
      }
    }
  }
}

td.mat-mdc-cell img.image-cell {
  .mdc-data-table__cell {
    padding: 4px 0;
  }
}

//color theme

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
  )
);
